form {
    text-align: center;
}
.submit {
    width: 80px;
    height: 40px;
    font-size: medium;
    border-radius: 0px;
    margin-top: 20px;
}
.copy {
    width: 40px;
    height: 40px;
    font-size: medium;
    border-radius: 0px;
    margin-left: 10px;
}
div form input {
    width: 280px;
}
div form label {
    width: 0px;
}

@media screen and (orientation: portrait) {
    form {
        width: 95vmin;
        height: 65vmax;
        padding-top: 70%;
    }
}

@media screen and (orientation: landscape) {
    form {
        width: 95vmax;
        height: 65vmin;
        padding-top: 10%;
    }
}