div {
    display: grid;
    place-items: center;
    padding-right: 30px;
    padding-top: 100px;
    text-align: center;
}
h1 {
    text-align: center;
    margin-left: 60px;
    font-size: xxx-large;
}
button {
    width: 80px;
    height: 40px;
    font-size: medium;
    border-radius: 0px;
    margin-left: 60px;
    margin-top: 10px;
}