div form input {
    width: 200px;
    margin-right: 30px;
}

@media screen and (orientation: landscape) {
    div {
        width: 95vmax;
        height: 60vmin;
        padding-top: max(7%, 180px);
    }
}

@media screen and (orientation: portrait) {
    div {
        width: 95vmin;
        height: 60vmax;
        padding-top: min(35%, 180px);
    }
}