div form input {
    width: 260px;
    height: 35px;
}
div form label {
    width: 0px;
}

@media screen and (orientation: portrait) {
    form {
        width: 95vmin;
        height: 80vmax;
        padding-top: min(80%, 250px);
    }
}

@media screen and (orientation: landscape) {
    form {
        width: 95vmax;
        height: 80vmin;
        padding-top: max(15%, 200px);
    }
}