div {
    display: grid;
    place-items: center;
    padding-right: 30px;
    padding-top: 100px;
    text-align: center;
}
h1 {
    text-align: center;
    margin-left: 60px;
    font-size: xxx-large;
}
label {
    width: 80px;
    line-height: 3rem;
    align-self: flex-start;
    display: inline-block;
}
input {
    width: 300px;
    height: 30px;
    font-size: medium;
    padding-inline: 10px;
    border-radius: 0px;
    outline-color: orange;
    border: 2px solid black;
}
button {
    width: 80px;
    height: 40px;
    font-size: medium;
    border-radius: 0px;
    margin-left: 60px;
    margin-top: 10px;
}